* {
    font-family: "Raleway", sans-serif;
    position: relative;
    text-align: center;
    word-wrap: break-word;
}

body {
    background-color: rgb(149, 147, 148);
}

.banner-image {
    height: auto;
    max-width: 100%;
    width: 100%;
    margin-top: 35px;
}

h1 {
    font-size: 2.5vw;
}

h2 {
    font-size: 2vw;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    font-size: 1.5vw;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 4px;
}
   
.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    transition: .3s color;
}
   
.nav a:hover {
    color: red;
}

p {
    font-size: 1.5vw;
}
