*:not(.milestones){
    font-family: "Raleway", sans-serif;
    position: relative;
    text-align: center;
    word-wrap: break-word;
}

body {
    background-color: rgba(245, 245, 245, 0.26);
    margin-left: auto;
    margin-right: auto;
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.milestones {
    text-align: left;
    display: inline-block;
    border-collapse: collapse;
}

/*--Navigation menu START--*/
.nav li {
    height: 40px;
    display: inline-block;
    margin-right: 4px;
}
   
.nav a {
    display: block;
}

/*--Navigation menu END--*/

/*--Accordion START--*/
details {
    overflow: hidden;
    border: 1px solid #dddddd;
    background: #ffffff;
    color: #333333;
    border-radius: 3px;
  }
  
  details summary {
    display: block;
    cursor: pointer;
    padding: .5em .5em .5em .7em;
    background: #ededed;
    color: #2b2b2b;
    border-radius: 3px 3px 0 0;
  }
  
  details:not([open]) summary:hover,
  details:not([open]) summary:focus {      
    background: #f6f6f6;
    color: #454545;
  }
  
  details[open] summary {
    border: 1px solid #29476C;
    background: #29476C;
    color: #ffffff;
  }
  
  details main {
    padding: 1em 2.2em;
  }

.FAQ {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*--Accordion END--*/

.m-1 {
    margin: 1rem;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mb-4 {
    margin-bottom: 3rem;
}

.mb-0 {
    margin-bottom: 0;
}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}



.p-3 {
    padding: 1rem;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.max-page-width {
    max-width: 920px;
}

.link-color {
    color: #FFE9A3;
}

.primary-text-color {
    color: #245999;
}

.primary-background {
    background: #29476C;
}

.colored-background {
    color: hsl(0, 0%, 96%);
    text-shadow: 1px 1px 1px black;
}

.text-start {
    text-align: start;
}

del {
    opacity: 0.5;
    text-decoration: none;
}

td {
    padding-right: 0.5rem;
    height: 65px;
}

tr {
    margin-bottom: 1rem;
}

meter {
    width: 100%;
}